.dropdown {
    position: relative;
    display: inline-block;
    gap: 1rem;
    padding: 2rem;
    font-size: 2rem;
    padding-right: 1rem;
    margin-top: 2rem;
  }
  .dropdown-text{
    color: white
  }
  
  .dropdown-select {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #444;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .dropdown-select:hover, .dropdown-select:focus {
    outline: none;
    border-color: #888;
  }
  
  .dropdown-select option {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #444;
    background-color: #fff;
  }
  
  .dropdown-select option:checked {
    background-color: #ddd;
  }
  
  .dropdown-select::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
    pointer-events: none;
  }
  
  .dropdown-select:hover::after {
    color: #555;
  }
  