.dropdown{
    position: relative;
    display: inline-block;
    gap: 1rem;
    padding: 2rem;
    font-size: 2rem;
    padding-right: 1rem;
    margin-top: 2rem;
}
.dropdown-text{
    color: white
}
  
.dropdown-select{
    padding: 1rem;
    margin-left: 1rem;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    background-color: rgb(0, 255, 179);
    border: none;
    border-radius: 4rem;
    font-size: 2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.dropdown-select:hover{
  padding: 1rem;
  margin-left: 1rem;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  background-color: rgb(71, 187, 153);
  font-size: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
  
.dropdown-select:hover, .dropdown-select:focus{
    outline: none;
    border-color: #888;
}
  
.dropdown-select option{
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #444;
    background-color: #fff;
}
  

  
.dropdown-select:hover::after {
  color: #555;
}
  